[submodule "SimpleSHCStandard"]
	path = SimpleSHCStandard
	url = git@github.com:JonathanReeve/corpus-SHC-SimpleSHCStandard.git
[submodule "SimpleSHCa"]
	path = SimpleSHCa
	url = git@github.com:JonathanReeve/corpus-SHC-SimpleSHCa.git
[submodule "SimpleSHCb"]
	path = SimpleSHCb
	url = git@github.com:JonathanReeve/corpus-SHC-SimpleSHCb.git
